<SentMessage::Avatar />
<section>
  <SentMessage::Username />
  <p>Hey !</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minus id
    architecto vel nulla assumenda ipsam cum, placeat molestias ratione alias
    provident atque quis autem ea non, veniam nemo aliquid?
  </p>
  <ul>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus,
      in odit. Nisi amet vero quae sapiente, laboriosam consequuntur maiores
      dignissimos enim vitae! Dolorem numquam earum velit ad corrupti! Tenetur,
      quasi.</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa atque, ex
      numquam nobis laboriosam iusto repellat consequuntur ipsum, aliquid
      quibusdam voluptatibus minus facilis id sit, dolor mollitia repellendus?
      Voluptate, quas.</li>
  </ul>

  <p>Let me know when you've nailed down the dates!</p>
</section>