<Message::Avatar
  @title={{@avatarTitlt}}
  @initial={{@avatarInitial}}
  @isActive={{@userIsActive}}
  class='{{if @isCurrentUser "current-user"}}'
/>
<section>
  <h4 class='username'>
    Tomster
    <span class='local-timer'>their local time is 4:56px</span>
  </h4>

  <p>
    Hey Zoey, have you had a chance to look at the EmberConf brainstorming doc I
    sent you?
  </p>
</section>