<div>
  {{#each this.messages as |message|}}
    <hr />
    <Message
      @username={{message.username}}
      @userIsActive={{message.active}}
      @userLocalTime={{message.localtime}}
    >
      {{message.content}}
    </Message>
    <hr />
  {{/each}}
</div>