<ReceivedMessage::Avatar />

<section>
  <ReceivedMessage::Username />
  <p>
    Hey Zoey, have you had a chance to look at the EmberConf brainstorming doc I
    sent you?
  </p>
</section>

{{!-- <Message
  @username='Tomster'
  @userIsActive={{true}}
  @userLocationTime='4:56px'
  @avatarTitle="Tomster's avatar"
  @avatarInitial='T'
>
  <p>Hello</p>
</Message> --}}