<aside class='current-user'>
  <div class='avatar' title="Zoey's avatar">Z</div>
</aside>
<section>
  <h4 class='username'>Zoey</h4>
  <p>Hey!</p>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis iusto
    officia adipisci eos quibusdam, amet alias explicabo qui minus veritatis
    tenetur quos modi debitis, fugit deleniti eum? Ad, deleniti doloremque!
  </p>

  <ul>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odit,
      sint animi hic molestiae at eligendi deserunt ducimus aliquid ea nisi ad
      nulla, illo pariatur, totam libero eius necessitatibus harum.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sint
      recusandae sed ullam libero fugit cupiditate perferendis? Quidem esse
      repellat accusantium nisi, dolorum porro, provident sequi repudiandae,
      impedit voluptate illum.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolorem
      dicta, molestiae similique consectetur, animi minus eaque pariatur ex
      veniam eum. Harum ipsa enim, voluptas quo non quasi est ad.
    </li>
  </ul>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum
    assumenda consequuntur dolores explicabo. Recusandae, ipsa harum dolor
    molestias debitis, distinctio placeat, quas nulla fugiat animi facere vero
    asperiores cupiditate?
  </p>
</section>