{{! <Avatar @title="Tomster's avatar" @initial='T' /> }}
{{! <aside>
  <div class='avatar is-active' title="Tomster's avatar">
    T
  </div>
</aside> }}

<Avatar @isAlive={{true}} @title="Tomster's avatar" @initial='T' />