<div class='messages'>
  <ReceivedMessage />

  <SentMessage />

  <NewMessageInput />

  {{! <ErrorDialog>
    <h1>Welcome</h1>
    <p>You are not connected to the internet!</p>
  </ErrorDialog> }}

  {{!-- <BlogPost @post={{@blogPost}} /> --}}
</div>