<div class='messages'>
  <aside>
    <div class='avatar is-active' title="Tomster's avatar">T</div>
  </aside>
  <section>
    <h4 class='username'>Tomster
      <span class='local-time'>their local time is 4:56pm</span>
    </h4>

    <p>
      Hey Zoey, have you had a chance to look at the EmberConf branstorming
      document I sent you?
    </p>
  </section>

  <aside class='current-user'>
    <div class='avatar' title="Zoey's avatar">Z</div>
  </aside>
  <section>
    <h4 class='username'>Zoey</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minus id
      architecto vel nulla assumenda ipsam cum, placeat molestias ratione alias
      provident atque quis autem ea non, veniam nemo aliquid?
    </p>
    <ul>
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus,
        in odit. Nisi amet vero quae sapiente, laboriosam consequuntur maiores
        dignissimos enim vitae! Dolorem numquam earum velit ad corrupti!
        Tenetur, quasi.</li>
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa atque,
        ex numquam nobis laboriosam iusto repellat consequuntur ipsum, aliquid
        quibusdam voluptatibus minus facilis id sit, dolor mollitia repellendus?
        Voluptate, quas.</li>
    </ul>

    <p>Let me know when you've nailed down the dates!</p>
  </section>

  <form>
    <input placeholder='Message...' type='text' id='message' />
    <button type='submit'>Send</button>
  </form>
</div>