{{page-title 'Scientists'}}
{{!-- <h2>List of Scientists 1</h2>

<ul>
  {{#each @model as |scientist|}}
    <li>{{scientist}}</li>
  {{/each}}
</ul> --}}

<PeopleList @title='List of Scientists 2' @people={{@model}} />